body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.section {
    /* padding: 50px; */
}

h1 {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more {
    font-size: 0.8em;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.game-list, .review-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-item, .review-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-height: 160px;
}

.game-item img, .review-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.game-details, .review-details {
    padding: 15px;
    text-align: left;
}

.review-item h3,
.review-item p {
    margin-right: 20px; /* 요소 간의 여백 추가 */
}